<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-4">
      <div class="item">
        <h3 class="text-center">Add your wagon</h3>
        <%= simple_form_for(@flat) do |f| %>
        <%= f.error_notification %>

        <%= f.input :title, placeholder: 'The Mystery Machine' %>
        <%= f.input :description, placeholder: 'A nice station wagon for Scoobi-doo lovers' %>
        <%= f.input :address, placeholder: 'Hannah Barbera Blvd' %>
        <%= f.input :city, placeholder: 'Los Angeles' %>
        <%= f.input :price, label: 'Price per night ($)' %>
        <%= f.input :picture %>
        <%= f.button :submit, value: 'Add a wagon', class:"center-block btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
