<div class="item">
  <h1>Add your wagon</h1>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.error_notification %>

    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :price, label: 'Price per night ($)' %>
    <%= f.input :picture %>
    <%= f.button :submit %>
  <% end %>
</div>
