<h1>Add a flat</h1>
<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :city %>
  <%= f.input :price %>
  <%= f.button :submit %>
<% end %>

