<div class="container">
  <h1>My Dashboard</h1>
  <h3><%= current_user.name %></h3>

  <div>
    <p><%= current_user.phone_number %></p>
    <p><%= current_user.email %></p>
  </div>

  <div>
  <h4>My flats: </h4>
    <p><% current_user.flats.each do |f| %></p>
      <p><%= f.title %></p>
      <p><%= f.city %></p>
      <p><%= f.description %></p>
      <p><%= f.price %></p>
    <% end %>
  </div>

  <div>
  <h4>Received requests for my flats: </h4>
    <p><% current_user.flats.map { |flat| flat.bookings }.flatten.each do |a| %></p>
      <p>Flat: <%= a.flat.title %></p>
      <p>Renter: <%= a.user.name %></p>
      <p>from <%= a.checkin %></p>
      <p>to <%= a.checkout %></p>
      <% if a.status.nil? %>
       <%= form_for([a.flat, a]) do |f| %>
         <%= f.hidden_field :id, value: a.id %>
         <%= f.hidden_field :status, value: true %>
         <%= f.submit "Accept", class: "btn btn-success" %>
       <% end %>
       <%= form_for([a.flat, a]) do |f| %>
         <%= f.hidden_field :status, value: false %>
         <%= f.submit "Decline", class: "btn btn-danger" %>
       <% end %>
      <% else %>
       <p>Status: <%= a.status %></p>
      <% end %>
    <% end %>
  </div>

  <div>
  <h4>My Travels: </h4>
    <p><% current_user.bookings.each do |b| %></p>
     <p>Flat: <%= b.flat.title %></p>
     <p>City: <%= b.flat.city %></p>
     <p>Owner: <%= User.find(b.flat.user_id).name if b.flat.user_id %></p>
     <p>from <%= b.checkin %></p>
     <p>to <%= b.checkout %></p>
     <p>Booking status: <%= b.status %></p>
    <% end %>
  </div>
</div>
