<!DOCTYPE html>
<html>
<head>
  <title>Le Wagonbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>

<!-- for detecting device width with bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<%= render "shared/navbar" %>

<div class="container">
  <%= yield %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
